html,body{
    margin: 0px;
    background-color: rgb(255, 153, 127);
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-container{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 0px 10px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 27px;
    font-weight: 600;

}

.messages{
    height: 100%;
    background-color: rgba(240, 240, 240, 0.884);
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}


.message{
    background-color: #d7d5db;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: fit-content;
    max-width: 30%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.message:first-child{
    margin-top: auto;
}

.message-name{
    font-size: 12px;
    color: grey;
}

.own .message-name{
    color: rgb(105, 102, 102);
}

.own{
    background-color: rgb(255, 196, 181);
    color: black;
    margin-left: auto;
    align-items: flex-end;
}

.text-input{
    height: 100px;
}

.profile-picture{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 20px;
}

.profile-name{
    color: rgb(27, 2, 87);
    margin-top: 20px;
    font-size: 23px;

}

.exit-button{
    margin-top: auto;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(253, 253, 253);
}

.message-form{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#message-input{
    width: 100%;
    border-radius: 20px;
    outline: none;
    padding: 8px;
    border: 1px solid rgba(196, 197, 197, 0.596);
}

#send-button{
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255, 153, 127);
    color: rgb(27, 2, 87);
    border: none;
    border-radius: 20px;
}

@media(max-width: 900px){

    .container{
        flex-direction: column;
    }

    .chat-container{
        width: 100%;
        height: 100%;
    }

    .sidebar{
        width: 100%;
        flex-direction: row;
        height: 70px;
    }

    .profile-picture{
        width: 30px;
        height: 30px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header{
        height: 70px;
        font-size: 24px;
    }

    .profile-name{
        margin: 0px;
        font-size: 16px;
    }

    .exit-button{
        width: 30%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: 10px;
    }
    
}

